h1{
color:black;
font-family: cursive;

}
body {
background-image:url(https://www.paperandtea.com/cdn/shop/articles/Zitrone_ea3353f5-21ff-476a-b7f2-56d9bb7071aa.jpg?v=1758033351&width=700);

}
#Box{
   width: 300px;
   height:300px ;

   margin: 50px;
   border: 10px solid black;
   padding: 30px;

}

#limani{
   width: 200px;
   height:200px ;
    background-color: #ede60c;
    margin-top: 30px;
   margin-left: 500px;
   border: 2px solid black;
   
   border-radius:25px 135px;
} 
#l{
 text-align: center;
text-decoration: underline ;
text-decoration-color: green;
text-decoration-line:underline overline ;
font-family: cursive;
font-size: 70px;

}



/*
   margin:  50px     40px      30px       20px
            top      right     bottom     left

   margin:  50px              30px
            top/bottom        left/right


*/