h1{
 text-decoration: underline;
 text-decoration-style:wavy ;
 text-decoration-color: orange;
 color: darkgreen;
 margin: 20px;
 font-family: cursive;
 font-size: 50px;
} 

article p{
   background: blue;

}
article > p{
background: red;
}
article + p {

 background: yellow;
}
p + article {
 background: green;

}
p ~ p {

 background: purple;

}
h3:first-child{
background: lime ;

}
input:out-of-range{
border: 3px solid green;

}
input:in-range{
border: 3px solid green;

}
input:required{
background-color: aquamarine;

}
input:first-of-type{
 background: pink;

}
input:focus{
 background: yellow;

}

input:invalid{
border: 5px solid red;

}
input:valid{
border: 5px solid green;


}
p::first-line{
color: white;
}
h4::before{
content: "> ";

}
h5::after{
 content: url("https://cdn.iconscout.com/icon/free/png-256/free-apple-photos-icon-svg-download-png-493155.png");

}
p::selection{
 background: red;
 color: aquamarine;
}




/*
::first-line
::before
::after
::selection
*/

/*
input:in-range
input:out-of-range
input:required
input:focus
input:first-of-type  
input:last-of-type  
input:valid
input:invalid
*/

/*
:first-child
:nth-child(3)
:nth-child(odd)
:nth-child(even)
*/




/*
There are four different combinators that we can use in CSS:

①  descendant selector (space)
②  child selector (>)
③  adjacent sibling selector (+)
④  general sibling selector (~)
*/